
._nu_ext_button {
	border: 2px solid white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: rgb(28, 137, 187);
	bottom: 30px;
	padding: 20px;
	position: fixed;
	right: -300px;
	cursor: pointer;
	font-size: 14px;
	color: white;
	z-index: 9999;
}